@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'jrgcomponents/Style/Global';

  :root {
    --background: 220 8% 100%;
    --foreground: 220 5% 10%;
    --card: 220 8% 100%;
    --card-foreground: 220 5% 15%;
    --popover: 220 8% 100%;
    --popover-foreground: 220 95% 10%;
    --primary: 220 100% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 182 10% 95%;
    --muted-foreground: 220 5% 40%;
    --accent: 182 10% 90%;
    --accent-foreground: 220 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 220 5% 100%;
    --border: 220 20% 82%;
    --input: 220 20% 50%;
    --ring: 220 100% 48%;
    --radius: 0.3rem;
  }
  .dark {
    --background: 220 10% 10%;
    --foreground: 220 5% 100%;
    --card: 220 8% 10%;
    --card-foreground: 220 5% 100%;
    --popover: 220 10% 5%;
    --popover-foreground: 220 5% 100%;
    --primary: 220 100% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 182 10% 25%;
    --muted-foreground: 220 5% 65%;
    --accent: 182 10% 25%;
    --accent-foreground: 220 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 220 5% 100%;
    --border: 220 20% 50%;
    --input: 220 20% 50%;
    --ring: 220 100% 48%;
    --radius: 0.3rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
